<div class="card-header d-flex justify-content-center">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link <%= active === 'profile' ? 'active' : '' %>"
         href="/profile/<%= req.session.profileUser.username %>">
        <i class="fas fa-user-alt mr-1"></i>
        Profile
      </a>
    </li>
    <% if (req.session.profileUser.id === req.user.id) { %>
    <li class="nav-item">
      <a class="nav-link <%= active === 'messages' ? 'active' : '' %>"
         href="/profile/<%= req.session.profileUser.username %>/messages">
        <i class="fas fa-envelope"></i>
        Messages
      </a>
    </li>
    <% } %>
    <li class="nav-item">
      <a class="nav-link <%= active === 'threads' ? 'active' : '' %>"
         href="/profile/<%= req.session.profileUser.username %>/threads">
        <i class="fas fa-comments mr-1"></i>
        Threads
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= active === 'answers' ? 'active' : '' %>"
         href="/profile/<%= req.session.profileUser.username%>/answers">
        <i class="fas fas fa-feather-alt mr-1"></i>
        Answers
      </a>
    </li>
  </ul>
</div>
